<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" id="from-actions-bottom-right">Perfil</h4>
    </div>
    <div class="card-content">
      <div class="px-3">

        <form class="form">
          <div class="form-body">
            <h4 class="form-section"><i class="ft-info"></i> Informações Pessoais</h4>
            <div class="row">
              <div class="form-group col-md-6 mb-2">
                <label for="nome">Nome</label>
                <input type="text" id="nome" class="form-control border-primary" placeholder="Nome" name="nome" [value]="usuario.nome || null">
              </div>
              <div class="form-group col-md-6 mb-2">
                <label for="sobrenome">Sobrenome</label>
                <input type="text" id="sobrenome" class="form-control border-primary" placeholder="Sobrenome" name="sobrenome" [value]="usuario.sobrenome || null">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6 mb-2">
                <label for="data_nasc">Data de Nascimento</label>
                <div class="input-group">
                  <input class="form-control" id="data_nasc" placeholder="dd/mm/yyyy" dataformatas="dd/mm/YYYY" name="dp"  [value]="usuario.data_nasc || null" ngbDatepicker #d2="ngbDatepicker">
                  <div class="input-group-append">
                    <div class="input-group-text" (click)="d2.toggle()">
                      <i class="fa fa-calendar" style="cursor: pointer;"></i>
                    </div>
                  </div>
                </div>
<!--                <input type="text" id="data_nasc" class="form-control border-primary" placeholder="01/01/2000" name="data_nasc">-->
              </div>
              <div class="form-group col-md-6 mb-2">
                <label for="userinput4">Nick Name</label>
                <input type="text" id="userinput4" class="form-control border-primary" placeholder="Nick Name" name="nickname">
              </div>
            </div>

            <h4 class="form-section"><i class="ft-user"></i> Sistema</h4>
            <div class="row">
              <div class="form-group col-12 mb-2">
                <label for="email">Email</label>
                <input class="form-control border-primary" type="email" placeholder="email" id="email" name="email" [value]="usuario.email || null">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12 mb-2">
                <label for="userinput6">Website</label>
                <input class="form-control border-primary" type="url" placeholder="http://" id="userinput6">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12 mb-2">
                <label>Contact Number</label>
                <input class="form-control border-primary" type="number" placeholder="Contact Number" id="userinput7">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-12 mb-2">
                <label for="userinput8">Bio</label>
                <textarea id="userinput8" rows="5" class="form-control border-primary" name="bio" placeholder="Bio"></textarea>
              </div>
            </div>
          </div>

          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1">
              <i class="ft-x"></i> Cancel
            </button>
            <button type="button" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Save
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>