<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh m-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body login-img">
                            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                <div class="row m-0">
                                    <div class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle">
                                        <img
                                                alt=""
                                                class="img-fluid mt-5"
                                                height="230"
                                                src="../../../../assets/img/gallery/login.png"
                                                width="400"
                                        />
                                    </div>
                                    <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                                        <h4 class="card-title mb-2">Login</h4>
                                        <p class="card-text mb-3">
                                            Welcome back, please login to your account.
                                        </p>
                                        <input
                                                type="text"
                                                formControlName="email"
                                                class="form-control mb-3"
                                                placeholder="E-mail"
                                        />
                                        <input
                                                type="password"
                                                formControlName="password"
                                                class="form-control mb-3"
                                                placeholder="Password"
                                        />
                                        <div class="d-flex justify-content-between mt-2">
                                            <div class="remember-me">
                                                <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                                    <input
                                                            class="custom-control-input"
                                                            id="remember_me"
                                                            name="remember_me"
                                                            formControlName="remember_me"
                                                            type="checkbox"
                                                            value="true"
                                                    />
                                                    <label class="custom-control-label" for="remember_me">
                                                        Remember Me
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="forgot-password-option">
                                                <a [routerLink]="['/pages/forgotpassword']"
                                                   class="text-decoration-none text-primary"
                                                >
                                                    Forgot Password ?
                                                </a>
                                            </div>
                                        </div>
                                        <div class="fg-actions d-flex justify-content-between">
                                            <div class="login-btn">
                                                <button class="btn btn-outline-primary">
                                                    <a
                                                            [routerLink]="['/cadastro']"
                                                            class="text-decoration-none"
                                                    >Cadastro</a
                                                    >
                                                </button>
                                            </div>
                                            <div class="recover-pass">
                                                <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
                                                    <div class="text-decoration-none text-white">Login</div>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorCredentials">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            Usuário ou senha inválidos.
                                        </div>
                                        <hr class="m-0"/>
                                        <div class="d-flex justify-content-between mt-3">
                                            <div class="option-login">
                                                <h6 class="text-decoration-none text-primary">
                                                    Or Login With
                                                </h6>
                                            </div>
                                            <div class="social-login-options">
                                                <a class="btn btn-social-icon mr-2 btn-facebook">
                                                    <span class="fa fa-facebook"></span>
                                                </a>
                                                <a class="btn btn-social-icon mr-2 btn-twitter">
                                                    <span class="fa fa-twitter"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->
